{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capital City Quiz</title>
  <link rel="stylesheet" href="{% static 'assets/styles/main.css' %}">
</head>

<body id="app">
<form class="container" method="POST">
  {% csrf_token %}
    
    <div class="horizontal-container">
    <h3>
      Total Score:
      <span id="score">{{ score }}</span>
    </h3>

    </div>

    <h1 id="countryName"> <img src="{% static flag %}" alt="{{ country }} flag"width="80" >
      <h1>{{ country }}</h1>
    </h1>
  <div class="answer-container">
    <input
      type="text"
      name="answer"
      id="userInput"
      placeholder="Enter the capital"
      autofocus
      autocomplete="off" >
    <input
      type="hidden"
      name="capital"
      value="{{ capital }}" >
  </div>
    <button type="submit"> SUBMIT {% if buzzer == "correct" %} <span class="checkmark">✔</span>{% elif buzzer == "wrong" %}
        <span class="cross">✖</span>
      {% endif %}
    </button>
  </form>
  
</body>

</html>